// src/styles/themes/_custom-theme.scss

@use "@angular/material" as mat;

$custom-theme: mat.define-theme(
  (
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

.custom-theme {
  @include mat.button-color($custom-theme);
  @include mat.progress-spinner-color($custom-theme);
}
