html {
  --md-sys-color-primary: rgb(64, 104, 53);
  --md-sys-color-surface-tint: rgb(64, 104, 53);
  --md-sys-color-on-primary: rgb(255, 255, 255);
  --md-sys-color-primary-container: rgb(193, 239, 175);
  --md-sys-color-on-primary-container: rgb(1, 34, 0);
  --md-sys-color-secondary: rgb(84, 99, 77);
  --md-sys-color-on-secondary: rgb(255, 255, 255);
  --md-sys-color-secondary-container: rgb(215, 232, 204);
  --md-sys-color-on-secondary-container: rgb(18, 31, 14);
  --md-sys-color-tertiary: rgb(56, 102, 104);
  --md-sys-color-on-tertiary: rgb(255, 255, 255);
  --md-sys-color-tertiary-container: rgb(188, 235, 238);
  --md-sys-color-on-tertiary-container: rgb(0, 32, 33);
  --md-sys-color-error: rgb(186, 26, 26);
  --md-sys-color-on-error: rgb(255, 255, 255);
  --md-sys-color-background: rgb(248, 251, 240);
  --md-sys-color-on-background: rgb(25, 29, 23);
  --md-sys-color-surface: rgb(248, 251, 240);
  --md-sys-color-on-surface: rgb(25, 29, 23);
  --md-sys-color-surface-variant: rgb(223, 228, 215);
  --md-sys-color-on-surface-variant: rgb(67, 72, 63);
  --md-sys-color-outline: rgb(115, 121, 110);
  --md-sys-color-inverse-surface: rgb(46, 50, 43);
  --md-sys-color-inverse-on-surface: rgb(239, 242, 232);
  --md-sys-color-inverse-primary: rgb(166, 211, 149);
}